* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:host {
  width: 100%;
  height: 100vh;
  background: #f0f2f5;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.container {
  display: flex;
}
.container .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .left img {
  width: 330px;
  margin: -33px;
}
.container .left p {
  color: #1c1e21;
  font-size: 28px;
  width: 500px;
  margin-top: 15px;
}
