<app-test3 status="busy" [status]="myStatus" (onSendData)="printData($event)"></app-test3>
<app-custom-component name="Jorge" lastName="Ramallo" (onSendData)="printData($event)"></app-custom-component>

<input type="text" [(ngModel)]="myStatus">


<button (click)="sw = !sw">SHOW TEST3</button>
<div *ngIf="sw">
  <app-test4 [name]="myStatus">
  </app-test4>
</div>

<app-test33></app-test33>

<span *ngFor="let item of ['first', 'second', 'thrid']; let i = index;">
<app-test3
*ngIf="item !== 'first'"
[status]="item" 
(onSendData)="printData($event)">
</app-test3>
</span>

<button (click)="sw = !sw">SHOW TEST3</button>

<div #myDiv1>
  <p>My DIv 1</p>
</div>

<ng-template #myVarElse>
  <p>It is my template</p>
  <p>It is my template</p>
  <p>It is my template</p>
  <p>It is my template</p>
</ng-template>



<app-test2 name="juan" lastName="gutierres" (onSendData)="printData($event)">

  <p>Mi propio contenido</p>
  <p>Mi propio contenido</p>
  <button>mi boton</button>

</app-test2>


<button (click)="sw = !sw">SHOW TEST3</button>
<ng-container *ngIf="sw" style="margin: 30px;">
  <p>NG CONTAINER</p>
</ng-container>


<input type="string" [(ngModel)]="color">
<p>-----------------------------</p>
<p [style.fontSize.px]="color">
  my p with style
</p>

<p [ngStyle]="{
  'background': color,
  'border': '5px gray solid'
}">
  my p with ng style
</p>

<p>-----------------------------</p>

<div [class.est1]="color === 'hola'">
  my div with class
</div>

<div [ngClass]="{
  'est1': color === 'hola0',
  'est2': color === 'hola1',
  'est3': color === 'hola2'
}">
  my div with ng class
</div>

<app-datalist></app-datalist>

<app-observer></app-observer>

<div #myDiv1>contnet</div>
<p>{{myDiv1}}</p>

<div #myCompRicardo></div>

<input type="text" #myDiv2 value="asdasd">
<p>{{myDiv2}}</p>

<button (click)="onShowLocalVars()">show local vars</button>

<div #myButton (click)="moreBorder()" style="border-width:1px; color: black;">Boton</div>