<p>Edit</p>
<form
  #form="ngForm"
  (ngSubmit)="onEdit(form)"
  style="display: flex; flex-direction: column;"
>
  <input type="text" name="from" ngModel placeholder="From" />
  <input type="text" name="to" ngModel placeholder="To" />
  <input type="text" name="quantity" ngModel placeholder="Quantity" />
  <input type="text" name="moneyType" ngModel placeholder="Money Type" />
  <input type="text" name="typeMine" ngModel placeholder="Type Mine" />
  <input type="text" name="miner" ngModel placeholder="Miner" />
  <button class="login-btn">{{ title }}</button>
</form>
