<p *ngIf="transactions.length === 0">THERE ARE NOT TRANSACTIONS</p>
<p>BTC: {{ ethQuantity }} ETH: {{ btcQuantity }}</p>

<p>Transactions: {{ transactions.length }}</p>
<span *ngFor="let item of transactions">
  <app-transaction
    [item]="item"
    [fromTransaction]="getFromTransaction(item)"
    [toTransaction]="getToTransaction(item)"
    (update)="update($event)"
  ></app-transaction>
</span>

<p>Wallets: {{ wallets.length }}</p>
<span *ngFor="let item of wallets">
  <app-wallet [item]="item" (update)="update($event)"></app-wallet>
</span>
